body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes animasi_down{
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

@keyframes animasi_right{
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity:1;
        transform:translateX(0px);
    }
}

@keyframes animasi_left{
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity:1;
        transform:translateX(0px);
    }
}

footer{
    color: white;
    background-color: rgb(105, 107, 244);
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

footer i{
    margin-right: 5px;
}

.jumbotron{
    padding: 80px 60px 100px 60px;
    color: white;
    text-align: center;
    font-size: 20px;
    background-image: url('../image/farm-house.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
    background-position: top;
}

.jumbotron p{
    margin-top:-10px;
}

.jumbotron p, .jumbotron h1, .btn-kontak{
    animation: animasi_down 0.8s;
}

.about p{
    animation: animasi_right 0.8s;
}

nav{
    background-color: rgb(105, 107, 244);
    padding: 5px;
    position: sticky;
    top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    display: inline;
    margin-right: 50px;
}

nav a, .btn-kontak a, nav i{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
}

.menu-icon{
    display: none;
}

.brand{
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 10px;
}

.btn-kontak{
    padding-top:8px;
}

.btn-kontak a{
    padding: 8px 35px;
    background-color: rgb(105, 107, 244);
    border-radius: 5px;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.2);
}

.btn-kontak a:hover{
    background-color: rgb(91, 94, 245);
}

nav a:hover{
    font-weight: bold;
}

.about{
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}

.about h2,.title h2,.title-2 h2{
    color: rgb(105, 107, 244);
    font-weight: bold;
    text-align: center;
}

.about p{
    text-align: center;
    font-size: 1.1rem;
    margin-top: -10px;
}

.about strong, .card strong, .card-title, .card-3 strong{
    color: rgb(105, 107, 244);
}

.about a{
    color: rgb(105, 107, 244);
    text-decoration: none;
}

.konten-2 .card .profil img{
    margin-bottom: -15px;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card,.card-3{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 20%;
    height: 120px;
}

.card{
    margin-right: 40px;
}

.card-1{
    animation: animasi_right 0.8s;
}

.card-2{
    animation: animasi_down 0.8s;
}

.card-3{
    animation: animasi_left 0.8s;
}
.card-title{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.card p, .card-3 p{
    text-align: justify;
}

.card i, .card-3 i{
    margin-right: 5px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.kontak{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-kontak{
    display: flex;
}

.title-2{
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-input{
    display: flex;
    flex-direction: column;
}

.form-input label{
    margin-bottom: 5px;
    margin-top: 10px;
}

.form-input input{
    height: 25px;
    width: 300px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.btn-kontak-2 input{
    padding: 8px 35px;
    background-color: rgb(105, 107, 244);
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-kontak-2 input:hover{
    background-color: rgb(91, 94, 245);
}

.form-satu{
    margin-right: 10px;
}

.kontak-section-1{
    margin-right: 30px;
}

.card-4{
    padding: 10px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 95%;
    height: 130px;
    border-top: 5px solid rgb(105, 107, 244);
}

.card-info{
    display: flex;
    align-items: center;
}

.card-4 i{
    font-size: 1.8rem;
    color: rgb(105, 107, 244);
    margin-right: 5px;
}

.kontak-section-1{
    animation: animasi_right 0.8s;
}

.kontak-section-2{
    animation: animasi_down 0.8s;
}

@media only screen and (max-width:768px){
    nav{
        padding: 20px 0;
        flex-wrap: wrap;
    }
    nav ul{
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
        animation: animasi_down 0.2s;
    }
    nav ul.hidden{
        display: none;
    }
    nav li{
        margin-top: 20px;
    }
    .menu-icon{
        display:flex;
        margin-right: 5%;
    }
    .card, .card-3{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width:1056px){
    .service{
        flex-wrap: wrap;
        width: 35%;
        margin: 0 auto;
    }
    .kontak,.form-kontak{
        flex-wrap: wrap;
    }
    .card, .card-3{
        width: 100%;
        margin-top: 20px;
        margin: 20px auto;
        height: 190px;
    }
    .kontak-section-1{
        margin: 0 100px 20px 100px;
    }
    .kontak-section-2{
        margin: 0 100px 20px 100px;
    }
    .form-satu,.form-dua{
        margin: 0 auto;
    }
    .btn-kontak-2{
        display: flex;
        justify-content: center;
    }
    .btn-kontak-2 input{
        margin: 15px auto;
    }
}